/*colors*/
/*fonts*/
/*transform/transition*/
/*margin/padding*/
/*Carrousel*/
/*Icon WhatsApp*/
/*Cards*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-nav {
  background-color: #fcbd29;
}

.logo {
  margin-left: 20px;
  font-family: "libre baskerville", sans-serif;
}

.nav-link:hover {
  background-color: #d89d14;
  transition: all 1s;
}
.nav-link:hover:hover {
  color: white;
}

.dropdown-servicios {
  text-decoration: none;
  color: black;
}
.dropdown-servicios:hover {
  background-color: rgb(148, 138, 138);
  transition: all 1s;
  color: blue;
}

.bg-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../imagenes/foto\ 1\ lavado.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
  max-width: 100%;
}

.color-index {
  background-color: rgb(26, 18, 11);
}

.fs-detail {
  font-size: 60px;
  text-shadow: 0 0 30px white;
}

.h1-detail {
  color: #fcbd29;
  text-shadow: 0 0 30px #fcbd29;
}

.h3-detail {
  font-family: "sail", sans-serif;
  color: #fcbd29;
}

.p-detail {
  font-family: "red hat display", sans-serif;
}

.a-link {
  text-decoration: none;
  color: blanchedalmond;
  font-family: "red hat display", sans-serif;
}
.a-link:hover {
  color: red;
  transition: all 0.6s;
}

.color-secundario {
  background-color: #fcbd29;
}

.somos-ds {
  text-shadow: 0 0 30px aqua;
}

.bg-nosotros {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagenes/imagen4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  max-width: 100%;
}

.p-ds {
  color: #fcbd29;
}

.color-nosotros {
  background-color: rgb(26, 18, 11);
}

.bg-img-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../imagenes/imagen3.jpg);
  height: 400px;
  background-position: center;
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-h2-hero {
  font-family: "sail", sans-serif;
  font-size: 60px;
}

.index-span-section {
  color: #fcbd29;
}

.index-h3-marketing {
  font-family: "courgette", sans-serif;
}

.bg-img-2 {
  background-image: url(../imagenes/pulido\ de\ auto.jpg);
  height: 400px;
  max-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-img-3 {
  background-image: url(../imagenes/imagen2.jpg);
  height: 400px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.color-hero {
  background-color: rgb(26, 18, 11);
}

/*Icon whatsapp*/
.whatsapp-icon {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 1;
}

/*Quienes somos*/
.bg-color-qs {
  background-color: rgb(26, 18, 11);
}

.color-qs {
  background-color: rgb(46, 44, 44);
  box-shadow: 0 0 30px white;
  border-radius: 20px;
}

.text-color {
  color: #fcbd29;
}

/*cards*/
.bg-gold {
  background-color: #fcbd29;
}

.bg-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagenes/pulido\ de\ auto.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-img2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagenes/imagen3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-img3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../imagenes/limpieza\ de\ tapizado.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn-height {
  height: 200px;
}

.z-index-nosotros {
  z-index: 0;
  position: relative;
}

/*Imagenes de tarjetas*/
.tarjetas-img {
  height: 50px;
}

/*Footer*/
.div-footer {
  font-size: 12px;
}

.img-servicios {
  height: 300px;
}

.bg-contacto {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagenes/fondo-contacto.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.checkbox-contacto {
  font-family: "red hat display", sans-serif;
  margin-top: 3px;
}

.btn-contacto {
  font-family: "red hat display", sans-serif;
}

.btn-submit {
  font-family: "red hat display", sans-serif;
}
.btn-submit:hover {
  background-color: #fcbd29;
  color: black;
  font-weight: bolder;
}

.btn-reset {
  font-family: "red hat display", sans-serif;
}
.btn-reset:hover {
  background-color: red;
  color: black;
  font-weight: bolder;
}

/*# sourceMappingURL=style.css.map */
