.bg-image {
  background-image: $bg-image-index;
  background-size: $bg-cover;
  background-repeat: $bg-no-repeat;
  background-position: $bg-position-center;
  height: $height-400px;
  max-width: $max-width-100;
}

.color-index {
  background-color: rgb(26, 18, 11);
}

.fs-detail {
  font-size: $fs-60px;
  text-shadow: $text-shadow-white;
}

.h1-detail {
  color: $color-gold;
  text-shadow: $text-shadow-gold;
}

.h3-detail {
  font-family: $sail;
  color: $color-gold;
}

.p-detail {
  font-family: $red-hat-display;
}

.a-link {
  text-decoration: $text-decoration-none;
  color: $color-blanchedalmond;
  font-family: $red-hat-display;
  &:hover {
    color: $color-red;
    transition: $transition06;
  }
}

.color-secundario {
  background-color: $color-gold;
}

.somos-ds {
  text-shadow: $text-shadow-aqua;
}

.bg-nosotros {
  background-image: $bg-image-nosotros;
  background-position: $bg-position-center;
  background-repeat: $bg-no-repeat;
  background-size: $bg-cover;
  height: $height-400px;
  max-width: $max-width-100;
}

.p-ds {
  color: $color-gold;
}

.color-nosotros {
  background-color: $color-black-brown;
}

.bg-img-1 {
  background-image: $bg-img-3;
  height: $height-400px;
  background-position: $bg-position-center;
  max-width: $max-width-100;
  background-repeat: $bg-no-repeat;
  background-size: $bg-cover;
}

.text-h2-hero {
  font-family: $sail;
  font-size: 60px;
}

.index-span-section {
  color: $color-gold;
}

.index-h3-marketing {
  font-family: $courgette;
}

.bg-img-2 {
  background-image: $bg-img-2;
  height: $height-400px;
  max-width: $max-width-100;
  background-position: $bg-position-center;
  background-repeat: $bg-no-repeat;
  background-size: $bg-cover;
}

.bg-img-3 {
  background-image: $bg-img-1;
  height: $height-400px;
  width: $max-width-100;
  background-position: $bg-position-center;
  background-repeat: $bg-no-repeat;
  background-size: $bg-cover;
}

.color-hero {
  background-color: $color-brown-black;
}

/*Icon whatsapp*/

.whatsapp-icon {
  position: $position-fixed;
  right: $margin-20px;
  bottom: $margin-20px;
  z-index: $z-index-1;
}

/*Quienes somos*/

.bg-color-qs {
  background-color: $color-brown-black;
}

.color-qs {
  background-color: rgb(46, 44, 44);
  box-shadow: 0 0 30px white;
  border-radius: 20px;
}

.text-color {
  color: $color-gold;
}

/*cards*/

.bg-gold {
  background-color: $color-gold;
}

.bg-img {
  background-image: $bg-img-1-cards;
  background-position: $bg-position-center;
  background-repeat: $bg-no-repeat;
  background-size: $bg-cover;
}

.bg-img2 {
  background-image: $bg-img-2-cards;
  background-position: $bg-position-center;
  background-repeat: $bg-no-repeat;
  background-size: $bg-cover;
}

.bg-img3 {
  background-image: $bg-img-3-cards;
  background-position: $bg-position-center;
  background-repeat: $bg-no-repeat;
  background-size: $bg-cover;
}

.btn-height {
  height: $height-200px;
}

.z-index-nosotros {
  z-index: 0;
  position: relative;
}

/*Imagenes de tarjetas*/

.tarjetas-img {
  height: 50px;
}

/*Footer*/

.div-footer {
  font-size: 12px;
}
